@import 'tailwindcss';
* {
    color: antiquewhite;
    transition: all 0.5s ease-in-out;
}
body {
    background: radial-gradient(125% 125% at 50% 10%, #0d103a 40%,#63e 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif;
}

